<!DOCTYPE html>
<!--
<html>
	<head>
	<title>Air-Supply Pilot</title>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<link rel="stylesheet" href="./stylesheets/mystyles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="./javascripts/myscripts_reg.js"></script>
</head>
-->

<html>
	<head>
	<title>Air-Supply Pilot</title>
		{%load static %}
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/mystyles.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="{% static 'javascript/myscripts_reg.js' %}"></script>
</head>
	
<body ng-app="bookApp" ng-controller="bookController" ng-init="getBookList()">

<div class="header">
  <h1>Air-Supply Pilot</h1>
</div>

<div class="topnav">
  <table width="100%"><tr>
	<td width="85%" id="firstCell"><a href="#" ng-click="loginPage()" class="typicalBtn" id="signinbtn">Sign in</a></td>
	<td width="15%" ng-click="loadCart()"><div class="icon-cart" style="float: left" id="cartBtn">
		<div class="cart-line-1" style="background-color: #E5E9EA"></div>
		<div class="cart-line-2" style="background-color: #E5E9EA"></div>
		<div class="cart-line-3" style="background-color: #E5E9EA"></div>
		<div class="cart-wheel" style="background-color: #E5E9EA"></div>
		</div>
		<div id="cartmsg">x_cartnum in cart</div>
	</td>
  </tr></table>
</div>

<div class="login" id="login" align="center">
	<div class="inputArea">

	<form action="/catalog/reg/" method="post" id="form_for_register">{% csrf_token %}
	<table>
	<tr><td>Username: </td><td id="reg_username">{{formForReg_obj.username}}</td></tr>
		<tr><td>First name: </td><td id="reg_firstname">{{formForReg_obj.firstname}}</td></tr>
		<tr><td>Last name : </td><td id="reg_lastname">{{formForReg_obj.lastname}}</td></tr>
	<tr><td>Password: </td><td id="reg_password">{{formForReg_obj.password}}</td></tr>
	<tr><td>Email address: </td><td id="reg_email">{{formForReg_obj.email}}</td></tr>
	<tr><td>Token: </td><td id="reg_token">{{formForReg_obj.token}}<label id="send_token_btn" ng-click="getToken()">Get Token</label></td></tr>
	<tr><td>Role: </td><td id="reg_role">{{formForReg_obj.role}}</td></tr>
	<tr><td>Clinic: </td><td id="reg_clinic">{{formForReg_obj.clinic}}</td></tr>
	<tr><td><input type="submit" value="Submit"></td></tr>
	</table>
	</form>

	</div>
</div>


</body>
</html>
