<!DOCTYPE html>
<html>
	<head>
	<title>Air-Supply Pilot</title>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<link rel="stylesheet" href="../static/css/mystyles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="../static/javascript/myscripts.js"></script>
	</head>
	
<body ng-app="bookApp" ng-controller="bookController" ng-init="getBookList()">

<div class="header">
  <h1>Air-Supply Pilot</h1>
</div>

<div class="topnav">
  <table width="100%"><tr>
	<td width="85%" id="firstCell"><a href="#" ng-click="loginPage()" class="typicalBtn">Sign in</a></td>
	<td width="15%" ng-click="loadCart()"><div class="icon-cart" style="float: left" id="cartBtn">
		<div class="cart-line-1" style="background-color: #E5E9EA"></div>
		<div class="cart-line-2" style="background-color: #E5E9EA"></div>
		<div class="cart-line-3" style="background-color: #E5E9EA"></div>
		<div class="cart-wheel" style="background-color: #E5E9EA"></div>
		</div>
		<div id="cartmsg">x_cartnum in cart</div>
	</td>
  </tr></table>
</div>

<div class="row" id="mainPage">
  <div class="leftcolumn" id="leftbar">
	<h1 id='shoppingCart'>Shopping Cart</h1>	
	<div class='infoPic' id='infoPic1'>
	<!--	<img ng-src='x_information.coverImage' class='infoCover' height='420' width='280'> -->
	</div>	
	<div class="card" id="firstbox">	
	<h2>Category</h2>
	  <ul>
	  <li ng-click="getBookList('IV Fluids')"><a href="#">IV Fluids</a></li>
	  </ul>
    </div>
    <div class="card" id="secondbox">
      <h3>Recent News</h3>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
    </div>
    <div class="card" id="thirdbox">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>

  </div>
  
  
  <div class="rightcolumn" id="contentArea">
	<div id="addedPage">
		<div>Added to Cart</div>
		<div>Cart subtotal (x_numberOfBooks item(s)): $x_amount</div>
		<div ng-click="back1()">continue browsing></div>
	</div>
	<div id="paidPage">
	<table id="paidmsg">
			<tr><td><div>You have successfully paid order for x_totalCount item(s)</div></tr></td>
			<tr><td><div>$x_subtotal paid</div></tr></td>
			<tr><td ng-click='back2()'>continue browsing></td></tr>
	</table>
	</div>
	
	<div class="layout" id="contentLayout">
	<div ng-repeat="book in bookList" >
		<div id = "x_book._id" ng-click="getBookInformation(book._id)">
		<img ng-src=x_book.coverImage height="420" width="280">
		<h2>x_book.title</h2>
		<h4>x_book.authorList}}</h4>
		<h4>x_book.price}}</h4>
		</div>
	</div>
	</div>
	<div class="pagenav" id="pagenav">
	  <table class="pagetable">
	  <td><a href="#">< Previous Page</a></td>
	  <td><input type="number" id="pagecounter" value="1" max="2"></input></td>
	  <td><a href="#">Next Page ></a></td>
	  </table>
	</div>

  </div>
  <div class="rightcolumn" id="cartSummary">
		<table id="summaryTable">
			<tr id="summaryTitle">
				<td class="summary1"></td>
				<td class="summary1"></td>
				<td class="summary2">Price:</td>
				<td class="summary3">Quantity</td>
			</tr id="summaryContent">
			<tr ng-repeat="order in cartList" id="x_order.bookId">
				<td class="summary1"><img ng-src=x_order.coverImage height="315" width="210"></td>
				<td class="summary1"><p>x_order.title}}</p><p>x_order.authorList}}</p></td>
				<td class="summary2">x_order.price}}</td>
				<td class="summary3"><input type="number" ng-model="order.quantity" ng-change="updateCart(order.bookId,order.quantity)">x_order.quantity}}</td>
			</tr>
			<tr id="browsingLink">
				<td colspan="3">Cart subtotal (x_totalCount}} item(s)): $x_subtotal}}</td>
				<td colspan="3"><button ng-click="checkout()">Proceed to check out</button></td>
			</tr>
		</table>
	</div>
</div>

<div class="login" id="login" align="center">
	<div class="inputArea">
	<!-- register form
	<form action="/catalog/" method="post" id="form_for_register">{% csrf_token %}
	<table>
	<tr><td>Username: </td><td>{{formForReg_obj.username}}</td></tr>
	<tr><td>Password: </td><td>{{formForReg_obj.password}}</td></tr>
	<tr><td>Email address: </td><td>{{formForReg_obj.email}}</td></tr>
	<tr><td>Token: </td><td>{{formForReg_obj.token}}<button id="send_token_btn">Get Token</button></td></tr>
	<tr><td>Role: </td><td>{{formForReg_obj.role}}</td></tr>
	<tr><td><input type="submit" value="Submit"></td></tr>
	</table>
	</form>
-->
	<form action="/catalog/" method="post" id="form_for_signin">{% csrf_token %}
	<table>
	<tr><td>Username: </td><td>{{formForSignIn_obj.username}}</td></tr>
	<tr><td>Password: </td><td>{{formForSignIn_obj.password}}</td></tr>
	<tr><td><input type="submit" value="Sign In"></td></tr>
	</table>
	</form>

	<button><a href="./reg" id="register_btn">Register</a></button>
	</div>
</div>




<div class="footer" id="footer">
  <h2>Footer</h2>
</div>

</body>
</html>
